
.my-map{
  width: 1350px;
  height: 600px;
  border: 1px;
  border-radius: 15px;
  margin: auto;
}
b{
  font-family: Calibri;
  font-size: 14px;
  color: #e60000;
}
button{
  width: 130px;
  border: 1px transparent;
  margin: 2px;
}

