<div  class="my-map" id="map"></div>
<div>
  <button translate="ZONE-INFO.layer" id="layer1_show" style="background-color:  #e60000; border: none"><span>1</span></button>
  <button translate="ZONE-INFO.layer" id="layer2_show" style="background-color:   #e6e600; border: none"><span>2</span></button>
  <button translate="ZONE-INFO.layer" id="layer3_show" style="background-color:   #0040ff; border: none"><span>3</span></button>
  <button translate="ZONE-INFO.All" id="All_layer_show" style="border: none" ></button>
  <button translate="ZONE-INFO.Hide" id="All_layer_hidden" style="border: none" ></button>

   <div style="float: right"><select id="selectLang" style="float: right" #selLang (change)="TranslateTo(selLang.value)">
  <option disabled selected >choose language </option>
  <option *ngFor="let language of this.translate.getLangs()" [value]="language">{{ language=="en"?"English":"Vietnamese"}}</option>

</select>
  <label style=" color: Blue" for="selectLang"><b translate="ZONE-INFO.language"></b></label>
   </div>
</div>


